h1 {
    color: orange;
    text-align: center;
}

h2 {
    color: green;
}

header {
    text-align: center;
    font-size: 30px;
}

body {
    font-size: 16px;
    margin-left: 20px;
}

img {
    display: block;
    width: 400px;
    height: 400px;
    margin: auto;
}

.navbar ul {
    list-style-type: none;
    background-color: orange;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li {
    float: left;
}