@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    font-family: 'inter', sans-serif;
}

h1 {
    color: orange;
    text-align: center;
}

a {
    color: rgb(176, 116, 4);
}

.question_list {
    font-size: 30px;
}

h2 {
    color: green;
}

header {
    text-align: center;
    font-size: 40px;
}

main {
    font-size: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

img {
    display: block;
    width: 400px;
    height: 400px;
    margin: auto;
}

.navbar ul {
    list-style-type: none;
    background-color: orange;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
}

.navbar li {
    float: left;
    font-size: 25px;
    display: flex;
    justify-content: flex-end;
}

.logo {
    font-weight: bold;
}
